In [1]:
import pandas as pd

In [2]:
my_ser= pd.Series ([1,2,3,4,5])
print(my_ser)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [3]:
my_ser = pd.Series([1,2,3],index = ['first day','second day','third day'])
print(my_ser)
print(my_ser["second day"])

first day     1
second day    2
third day     3
dtype: int64
2

In [9]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("shubham1kumar/usedcar-data")

print("Path to dataset files:", path)

Downloading from https://www.kaggle.com/api/v1/datasets/download/shubham1kumar/usedcar-data?dataset_version_number=2...

100%|██████████| 184k/184k [00:00<00:00, 294kB/s]

Extracting files...
Path to dataset files: C:\Users\devdh\.cache\kagglehub\datasets\shubham1kumar\usedcar-data\versions\2

In [12]:
!dir C:\Users\devdh\.cache\kagglehub\datasets\shubham1kumar\usedcar-data\versions\2

 Volume in drive C has no label.
 Volume Serial Number is 9C7D-1F62

 Directory of C:\Users\devdh\.cache\kagglehub\datasets\shubham1kumar\usedcar-data\versions\2

21-11-2024  01:51 PM    <DIR>          .
21-11-2024  01:51 PM    <DIR>          ..
21-11-2024  01:51 PM            23,160 CarDetails_DataDescription.docx
21-11-2024  01:51 PM         1,031,281 UserCarData.csv
               2 File(s)      1,054,441 bytes
               2 Dir(s)   5,412,663,296 bytes free

In [14]:
path = path + r"\UserCarData.csv"
data = pd.read_csv(path)

In [15]:
data.head(15)

,Sales_ID,name,year,selling_price,km_driven,Region,State or Province,City,fuel,seller_type,transmission,owner,mileage,engine,max_power,torque,seats,sold
0,1,Maruti,2014,450000,145500,East,District of Columbia,Washington,Diesel,Individual,Manual,First_Owner,23.40,1248,74.00,190Nm@ 2000rpm,5,Y
1,2,Skoda,2014,370000,120000,East,New York,New York City,Diesel,Individual,Manual,Second_Owner,21.14,1498,103.52,250Nm@ 1500-2500rpm,5,Y
2,3,Honda,2006,158000,140000,Central,Illinois,Chicago,Petrol,Individual,Manual,Third_Owner,17.70,1497,78.00,"12.7@ 2,700(kgm@ rpm)",5,Y
3,4,Hyundai,2010,225000,127000,Central,Illinois,Chicago,Diesel,Individual,Manual,First_Owner,23.00,1396,90.00,22.4 kgm at 1750-2750rpm,5,Y
4,5,Maruti,2007,130000,120000,East,New York,New York City,Petrol,Individual,Manual,First_Owner,16.10,1298,88.20,"11.5@ 4,500(kgm@ rpm)",5,Y
5,6,Hyundai,2017,440000,45000,East,New York,New York City,Petrol,Individual,Manual,First_Owner,20.14,1197,81.86,113.75nm@ 4000rpm,5,Y
6,7,Maruti,2007,96000,175000,West,California,Los Angeles,LPG,Individual,Manual,First_Owner,17.30,1061,57.50,"7.8@ 4,500(kgm@ rpm)",5,Y
7,8,Maruti,2001,45000,5000,West,California,Los Angeles,Petrol,Individual,Manual,Second_Owner,16.10,796,37.00,59Nm@ 2500rpm,4,Y
8,9,Toyota,2011,350000,90000,West,California,Los Angeles,Diesel,Individual,Manual,First_Owner,23.59,1364,67.10,170Nm@ 1800-2400rpm,5,Y
9,10,Ford,2013,200000,169000,Central,Texas,Houston,Diesel,Individual,Manual,First_Owner,20.00,1399,68.10,160Nm@ 2000rpm,5,Y
10,11,Renault,2014,500000,68000,East,New York,New York City,Diesel,Individual,Manual,Second_Owner,19.01,1461,108.45,248Nm@ 2250rpm,5,Y
11,12,Maruti,2005,92000,100000,Central,Texas,Houston,Petrol,Individual,Manual,Second_Owner,17.30,993,60.00,78Nm@ 4500rpm,5,Y
12,13,Maruti,2009,280000,140000,Central,Texas,Houston,Diesel,Individual,Manual,Second_Owner,19.30,1248,73.90,190Nm@ 2000rpm,5,Y
13,15,Maruti,2009,180000,90000,East,Massachusetts,Boston,Petrol,Individual,Manual,Second_Owner,18.90,1061,67.00,84Nm@ 3500rpm,5,Y
14,16,Mahindra,2016,400000,40000,East,Massachusetts,Boston,Petrol,Individual,Manual,First_Owner,18.15,1198,82.00,115Nm@ 3500-3600rpm,5,Y

In [16]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7906 entries, 0 to 7905
Data columns (total 18 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Sales_ID           7906 non-null   int64
 1   name               7906 non-null   object
 2   year               7906 non-null   int64
 3   selling_price      7906 non-null   int64
 4   km_driven          7906 non-null   int64
 5   Region             7906 non-null   object
 6   State or Province  7906 non-null   object
 7   City               7906 non-null   object
 8   fuel               7906 non-null   object
 9   seller_type        7906 non-null   object
 10  transmission       7906 non-null   object
 11  owner              7906 non-null   object
 12  mileage            7906 non-null   float64
 13  engine             7906 non-null   int64
 14  max_power          7906 non-null   float64
 15  torque             7906 non-null   object
 16  seats              7906 non-null   int64
 17  sold               7906 non-null   object
dtypes: float64(2), int64(6), object(10)
memory usage: 1.1+ MB

In [17]:
data.nunique()

Sales_ID             7906
name                   31
year                   27
selling_price         670
km_driven             898
Region                  4
State or Province      49
City                 1310
fuel                    4
seller_type             3
transmission            2
owner                   5
mileage               381
engine                121
max_power             318
torque                441
seats                   9
sold                    2
dtype: int64

In [18]:
data.isnull().sum()

Sales_ID             0
name                 0
year                 0
selling_price        0
km_driven            0
Region               0
State or Province    0
City                 0
fuel                 0
seller_type          0
transmission         0
owner                0
mileage              0
engine               0
max_power            0
torque               0
seats                0
sold                 0
dtype: int64

In [19]:
data.corr()

ValueError: could not convert string to float: 'Maruti'